<template>

  <div id="HolaMundo"><!-- Todo lo que hay dentro de este elemento corresponde al contenido del componente-->
    <h1>
      {{ hello }} <!-- De esta manera se pueden mostrar variables o propiedades pertenecientes al componente -->
    </h1>

    <p>{{msg}} <!-- esta es una propiedad del componente--><br>
      {{obj.var_1}}
    </p>
    <input type="number" @change="validar_datos"> 
    <!-- podemos utilizar el atributo '@<action>' o 'v-on:<action>' para escuchar una <action>
      (acción) especifica-->
    <button 
      @click="cont_boton"
    > <!-- este boton ejecuta la el método cont_boton() cuando es clickeado-->
      clickeame!
    </button> <br>
    <button @click="api_call">api call</button>
    <!-- este boton hace una llamada al api de Bitcoindesk y muestra una alerta con el
      valor actual del bitcoin en dolares americanos -->
    <br>
    <input type="text" v-model="hello"><br>


    <button @click="cambiar_variable">cambiar texto</button><br>
    
    
    
  </div>
</template>
<script>
  import axios from 'axios'

  export default {
    name : 'HolaMundo',
    data () {
      return {
        hello: 'Hola mundo',
        datos_validos : false,
        msg_alerta :"",
        obj : {
          var_1 : 22,
          var_2 : 'asdasdasdasd',
          var_3 : {
            arr : [],
          }
        }
      }
    },
    props : {
      msg : String,
    },
    methods :{
      validar_datos(){
        this.datos_validos  = true
      },
      cont_boton () {
        if (this.datos_validos){
          this.enviar_datos()
        }else{
          this.msg_alerta = "los datos no se han validado"
          alert(this.msg_alerta)
          console.log(this.msg_alerta)
        }
      },
      enviar_datos () {
        // TO - DO
        this.msg_alerta = "se ejecuto la el método 'enviar datos'"
        console.log(this.msg_alerta)
        alert(this.msg_alerta)
        this.datos_validos = false
      },
      otro_metodo (variable) {
        //este metodo recibe una variable y la imprime en consola
        console.log(variable)
      },
      cambiar_variable() {
        this.hello = "CAmbio el texto"
      },
      api_call () {
        axios.get('https://api.coindesk.com/v1/bpi/currentprice.json')
          .then( function (response) {
            console.log(response.data)
            let val_bit = response.data.bpi.USD.rate_float.toFixed(2) 
            alert('Valor del Bitcoin: ' + val_bit)
          }).catch( function(error){
            console.log(error)
          });
      }

    }

  }
</script>
