<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <HolaMundo msg="Welcome to Y Vue.js App"/>

  </div>
</template>

<script>

import HolaMundo from './components/HolaMundo.vue'
export default {
  name: 'App',
  components: {
    HolaMundo
  },
  methods: {
    //metodos
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
